html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body {
    background-color: #000000;
}

.banner-container {
    padding: 1em;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: #1e1e1e;
}

.banner-title {
    margin: 0px;
    color: #ffffff;
}

.footer-container {
    width: 100%;
    bottom: 0px;
    position: absolute;
    text-align: center;
    color: #c0c0c0;
    background-color: #1e1e1e;
}

.footer-link {
    text-decoration: none;
    color: #ffffff;
}

.footer-link:hover {
    transition: color 0.25s;
    color: #ff0000;
}

.content-wrap {
    padding: 1em 15vw;
    text-align: center;
}

.content {
    padding: 25em;
    text-align: left;
    border-radius: 2px;
    color: #e6e6e6;
    background-color: #000000;
}

.content-input {
    max-width: 100%;
}

.caution {
    margin-bottom: 0.5em;
    padding-left: 2.5px;
    font-size: 12px;
    border-radius: 2.5px;
    background-color: #9370db;
}

#dm-input {
    width: 100%;
}

#token, #channelid, #content, #delay {
    font-size: 25px;
    background-color: #000000;
    width: 75%;
    padding: 20px;
    border: 2px solid #838383c9;
}

@media screen and (min-width: 1500px) {
    #discord-widget {
        width: 15vw;
        bottom: 0px;
        left: 0px;
        position: absolute;
    }
}

@media screen and (max-width: 1500px) {
    #discord-widget {
        width: calc(100% - 2em);
        margin: 1em 0px 1em 1em;
    }
}

.checkalive-result-hide {
    display: none;
}
.checkalive-result-show {
    margin-top: 0.5em;
    display: block;
    border-radius: 5px;
}
.checkalive-result-alive {
    background-color: limegreen;
}
.checkalive-result-dead {
    background-color: rgb(255, 31, 69);
}
